@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media (min-width: 641px) {
  .bg-gradient-radial {
    background: linear-gradient(transparent, 50%, black);
  }
}

@media (max-width: 640px) {
  .bg-gradient-radial {
    background: linear-gradient(transparent, 10%, black);
  }
}

.text-glow-yellow:hover {
  color: yellow;
  text-shadow: 0 0 3px yellow, 0 0 20px yellow;
}
